page-maplet {
    .map-container {
        position: absolute;
        top: 0px;
        bottom: 0px;
        width: 100%;
        height: 80%;

        // img.leaflet-tile {
        //     width: 256px;
        //     height: 256px;
        // }
    }
    .swiper-slide .map-container img.leaflet-tile {
        max-width: unset;
        max-height: unset;
    }
}

